"*":
  "atom-clock":
    dateFormat: "dddd D MMM H:mm"
  "atom-ide-ui":
    use:
      "atom-ide-terminal": "never"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "linter"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/iankhor/Document/app"
    telemetryConsent: "no"
  editor:
    fontSize: 16
    preferredLineLength: 120
  "exception-reporting":
    userId: "f48f0d9b-6164-5b38-0718-a5d7c855b9b4"
  "linter-ui-default":
    panelHeight: 25
  "markdown-preview":
    breakOnSingleNewline: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    core:
      scrollback: 100000
    style:
      fontFamily: "Roboto Mono for Powerline"
      fontSize: "18"
  "tree-view": {}
  welcome:
    showOnStartup: false
